{% extends "base.html" %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-7">
                                <h5 class="card-title mb-0">HOSTELS/RENTALS OWNER PROFILE</h5>
                            </div>
                            <div class="col-5">
                             <a href="{% url 'owners' %}" class="btn btn-primary">GO BACK</a>
                            </div>
                        </div>
                    </div>


                    
                    <table class="table table-hover my-0">
                        
                        <tbody>
                            <tr>
                                <td class="text-center"><b>RENTALS/OWNER PROFILE DETAILS WILL BE HERE</b></td>
                                <ul>
                                </ul>
                            </tr>
               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock content %}